<div class="otb-mobile-tour-container">
  <article class="otb-mobile-stop-list uk-margin-xlarge-bottom">
    <table class="uk-table uk-table-divider otb-stop-list uk-margin-xlarge-bottom">
      {{#if this.model.sortedTourStops.firstObject.stop.id}}
        <MobileStopList @sortedTourStops={{this.model.sortedTourStops}} />
      {{/if}}
    </table>
    <MobileFooter />
  </article>
</div>