.otb-common-playbutton-overlay {
  color: white;
  font-size: 16vh;
}

.otb-common-loading {
  background-image: url(/assets/images/otb-bg.png);
  height: 100vh;
}

img.lazyloaded {
  max-height: 33vh !important;
}

#map-container:first-child {
  height: calc(100vh - 80px);
}

.otb-gallery-picture-loading {
  background-image: url(/assets/images/loading.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.uk-modal-dialog {
  iframe {
    height: auto;
    width: 100%;
  }
}