// theme map
$themes: (
  default: (
    default: (
      primary: #212121,
      secondary: #fff,
      accent-text: #fff,
      accent: #fe5455
      ),
    blue: (
      primary: #0081BA,
      accent-text: #fff,
      secondary: #fff,
      accent: #D32730
    ),
    bright-blue:(
      primary: #0700FF,
      accent-text: #fff,
      secondary: #fff,
      accent: #fe5455
    ),
    atl: (
      primary: #003F75,
      secondary: #fff,
      accent-text: #fff,
      accent: #CD3648
    ),
    red: (
      primary: #ff3d57,
      secondary: #fff,
      accent-text: #fff,
      accent: #23307E
    ),
    dark-blue: (
      primary: #2a3f74,
      secondary: #fff,
      accent-text: #fff,
      accent: #5577d1
    ),
    purple: (
      primary: #5A23B4,
      secondary: #fff,
      accent-text: #fff,
      accent: #FF00E9
    ),
    green: (
      primary: #78B953,
      secondary: #fff,
      accent-text: #fff,
      accent: #F38C03
    ),
    orange: (
      primary: #FF4601,
      secondary: #fff,
      accent-text: #fff,
      accent: #0700FF
    ),
    dark-green: (
      primary: #227B39,
      secondary: #fff,
      accent-text: #fff,
      accent: #D74442
    ),
    dark-mode: (
      primary: #4A4A4A,
      secondary: #fff,
      accent-text: #fff,
      accent: #E30000
    ),
    austrian: (
      primary: #ED2536,
      secondary: #fff,
      accent-text: #000,
      accent: #FAE205
    ),
    emory: (
      primary: #012169,
      secondary: #fff,
      accent-text: #fff,
      accent: #F2A900
    ),
    gsu: (
      primary: #0239A6,
      secondary: #fff,
      accent-text: #fff,
      accent: #C60D30
    ),
    gatech: (
      primary: #003057,
      secondary: #fff,
      accent-text: #fff,
      accent: #B3A369
    ),
    uga: (
      primary: #BA0D2F,
      secondary: #fff,
      accent-text: #fff,
      accent: #000000
    ),
    ksu: (
      primary: #000,
      secondary: #fff,
      accent-text: #fff,
      accent: #FEBC13
    )
  )
);

$global-primary-background: #212121;

// if theme service exists as addon - allow 3rd parties to merge into themes.
@if variable-exists(theme-additional) {
  $themes: map-merge($themes, $theme-additional);
}

// @mixin apply-theme {
//   @each $base, $attributes in $themes {
//     @each $section, $values in $attributes {
//       $name: '#{$base}-#{$section}';
//       &[data-theme='#{$name}'] {
//         // ..
//       }
//     }
//   }
// }

// helper for SASS files to apply theme values to an element.
// usage: @include theme('color', 'primary');
@mixin theme($css-attribute, $theme-value) {
  @each $base, $attributes in $themes {
    @each $section, $values in $attributes {
      $name: '#{$base}-#{$section}';
      &[data-theme='#{$name}'] {
        @if $css-attribute == 'background' and $theme-value == 'bg-image' {
          $url: map-get($values, $theme-value);
          #{$css-attribute}: url($url) repeat-x;
        } @else if $css-attribute == 'background' and $theme-value == 'icon' {
          $url: map-get($values, $theme-value);
          #{$css-attribute}: url($url) no-repeat;
        } @else {
          #{$css-attribute}: map-get($values, $theme-value) !important;
        }
        // ...
      }
    }
  }
}

// helper for more advanced theming.
// usage: @include theme-advanced('border', '', 'accent', '1px solid');
@mixin theme-advanced($css-attribute, $before, $theme-value, $after) {
  @each $base, $attributes in $themes {
    @each $section, $values in $attributes {
      $name: '#{$base}-#{$section}';

      &[data-theme='#{$name}'] {
        #{$css-attribute}: #{$before} map-get($values, $theme-value) #{$after};
      }
    }
  }
}

// @mixin theme-value($them-value);
