<nav class="uk-navbar uk-light uk-background-secondary" uk-navbar>
  <div class="uk-navbar-left">
    <img class="uk-logo" src="/assets/images/otblogo.png" alt="" role="presentation">
    <ul class="uk-navbar-nav">
      <li>
        <h1 class="uk-text-large uk-margin-remove">OpenTourBuilder</h1>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li>
        <a href="http://digitalscholarship.emory.edu/projects/software/open-tour.html" aria-label="About OpenTour">
          About
        </a>
      </li>
      <li>
        <a href="https://github.com/ecds/OpenTourBuilder/wiki/How-to-Use-OpenTour-v.-3.0" aria-label="OpenTour Documentation">
          Documentation
        </a>
      </li>
    </ul>
  </div>
</nav>

{{#if this.deviceContext.isDesktop}}
  <MapAllTours @model={{this.model}} />
{{/if}}

<section class="uk-container uk-margin-top">
  <ul class="uk-list">
    {{#each this.model as |tourSet|}}
      {{#if tourSet.publishedTours}}
      <li class="toursitename">
        <h2>
          <TenantLink @tourSet={{tourSet}} />
        </h2>
        <ul class="uk-list uk-list-bullet">
          {{#each tourSet.publishedTours as |tour|}}
            <li class="tourname">
              <TourLink @tenant={{tourSet.subdir}} @tour={{tour}} />
            </li>
          {{/each}}
        </ul>
      </li>
      {{/if}}
    {{/each}}
  </ul>
</section>