{{#if this.deviceContext.isMobile}}
  <div class="otb-mobile-tour-container">
    {{!--
      Flow:
        show stop on map
        explain why asking for permission
        ask
        if allow directions -> show directions || show
        else -> show stop on map with address
    --}}
    <MobileStopMap @stop={{this.model.tourStop.stop}} @tour={{this.model.tour}} @position={{this.model.tourStop.position}}/>
  </div>

{{/if}}