{{outlet}}
<section class="otb-mobile-tour-container">
  <article class="uk-article uk-padding">
    <h1>{{this.model.title}}</h1>
    {{this.model.safeContent}}
    <MobileFooter />
  </article>
</section>