{{! template-lint-disable no-inline-styles }}
<section class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle uk-background-cover" style={{html-safe (concat "height: 100vh; background-color: rgba(34, 34, 34, 0.8); background-image: url(" this.backgroundImage ");")}}>
  {{yield}}
</section>
{{! template-lint-enable no-inline-styles }}